@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif; /* A modern and clean font */
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: #333; /* Dark gray text color */
  background: linear-gradient(to right, #f0f0f0, #ffffff); /* Light gradient */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply font-semibold text-blue-500 hover:text-blue-700; /* Blue link color */
}

body {
  @apply m-0 min-w-full min-h-screen flex flex-col justify-between bg-gradient-to-r from-white to-gray-100;
}

h1 {
  @apply text-4xl font-extrabold mb-4 text-indigo-600; /* Modern title styling */
}

button {
  @apply rounded border border-indigo-600 px-4 py-2 font-semibold bg-indigo-600 text-white transition duration-300 hover:bg-indigo-700 focus:border-indigo-800 focus:outline-none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #333;
    background: linear-gradient(to right, #f0f0f0, #ffffff);
  }

  a:hover {
    @apply text-indigo-700;
  }

  button {
    @apply bg-gray-200 text-gray-800;
  }
}
